beautifulsoup4
certifi
charset-normalizer
colorama
python-dateutil
python-docx
pymupdf
filelock
fsspec
huggingface-hub
idna
jinja2
joblib
lxml
markupsafe
mpmath
networkx
numpy
pandas
pillow
psycopg2-binary
pytz
pyyaml
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
soupsieve
sqlalchemy
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3